body {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
}

img {
  max-width: 400px;
  max-height: 400px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  text-size: 18px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  left-padding: 0;
  margin-left: auto;
  margin-right: 200px;
  gap: 20px;
}

header {
  margin-left: 200px;
  font-size: 24px;
  color: #F9FAF8;
}

.header {
  background: #1F2937;
  display: flex;
  color: white;
}

/*#body-section {
  padding-left: 200px;
  padding-right: 200px;
}*/

.body-one {
  background: #1F2937;
  padding: 30px 200px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.big-card-title {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.big-card button {
  width: 100px;
  background-color: #3882F6;
  color: white;
  border: none;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
}

.big-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.big-card p {
  font-size: 18px;
  color: #E5E7EB;
}

.body-two {
  padding: 30px 200px;
  display: flex;
  flex-direction: column;
}

.body-two-title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bolder;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.body-three {
  background: #E5E7EB;
  padding: 30px 200px;
}

.body-four {
  padding: 30px 200px;
  display: flex;
  justify-content: center;
}
.box {
  display: flex;
  display-direction: row;
}

.footer {
  background: #1F2937;
  color: white;
  display: flex;
  justify-content: center;
}

